@model UI.Models.LoginModel
@using Resources
@using System.Globalization;

@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-6">
        <h1 class="auth-title">@LoginView.SocialConnect</h1>
        @ViewBag.Water <br />

        @*@CultureInfo.CurrentUICulture.Name <br />
        @CultureInfo.CurrentCulture.Name*@

    </div>
    <div class="col-md-6">
        <form asp-action="Login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">

                <h1 class="auth-title">@LoginView.LoginToAccount</h1>
                <p>
                    @LoginView.NoAccountText                    
                    @Html.ActionLink(LoginView.ClickHere, "SignUp", null, new { @class = "lnk-toggler" })  @LoginView.GetStarted
                </p>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">
                    @LoginView.UserName
                </label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">
                    @LoginView.Password
                </label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value=" @(LoginView.Login)" class="btn btn-lg btn-primary btn-block" />
            </div>
            <div class="form-group">
                @Html.ActionLink(LoginView.ForgotPassword, "ForgotPassword", null, new { @class = "lnk-toggler" })
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
